@use '../../vendors/bootstrap' as *;
@use '../../themes/app-theme' as *;


.features--section{
    padding-top: 3.955rem;
    padding-bottom: 3rem;
    //background-color: var(--section-sub-bg-color);
    

    ._feature--col{
        padding-left: 0;
       // width: 90%;
        margin: 0 auto;
        text-align: center;
        padding-top: 2rem;

        @include media-breakpoint-up(md){
           // width: 100%;
            margin: 0;
            text-align: left;
            padding-top: 0;
        }
            
            h3{
                width: 100%;
                padding: 0;

                 @include media-breakpoint-up(lg){
                    width: 80%;
                }
            }
            p{
                width: 96%;
            }
    }
    .__feature_ul{
        list-style: none;
        padding-left: 0;
        width: 75%;
        margin: 0 auto;
        text-align: center;

        @include media-breakpoint-up(md){
            width: auto;
            margin: 0;
        }

        li{
           display: flex;
           align-items: center;
           line-height: 3rem;

           .__feature_square{
               width: 20px;
               height: 20px;
               border-radius: 4px;
               background-color: var(--primary-color);
               margin-right: 0.8rem;
           }

           .__feature_text{
               font-size: 14px;
               font-weight: 400;
               color: var(--text-color);
           }
        }
    }
}